@import "_constant";

// 🌟 common:

.w3l-banner-slider-main header.tophny-header {
    background-color: $primary_green !important;
}

.btn-primary {
    background-color: $primary_green !important;
}

.w3l-ecommerce-main ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
        padding: 5px 0 5px 5px;
        font-weight: 600;
        cursor: pointer;
        scale: 1;
        transition: 0.5s;
    }
    li:hover {
        scale: 1.1;
    }
}
.w3l-banner-slider-main .navbar-light .navbar-nav .nav-link {
    transition: 0.5s;
}
.w3l-banner-slider-main .navbar-light .navbar-nav .nav-link:hover,
.w3l-banner-slider-main .navbar-light .navbar-nav .nav-link:focus {
    border-bottom: 2px solid white;
    color: white !important;
}

.w3l-banner-slider-main .navbar-light .navbar-nav .show > .nav-link,
.w3l-banner-slider-main .navbar-light .navbar-nav .active > .nav-link,
.w3l-banner-slider-main .navbar-light .navbar-nav .nav-link.show,
.w3l-banner-slider-main .navbar-light .navbar-nav .nav-link.active {
    color: white !important;
    border-bottom: 2px solid white;
}

// 🌟 common end :
////////////////////////////////////////////

.side_filter__section .filter__section_1 {
    background-color: rgb(248, 248, 248);
    height: 300px;
    width: 100%;
    border-radius: 10px;
}

.side_filter__section .filter__section_2 {
    background-color: rgb(248, 248, 248);
    height: 300px;
    width: 100%;
    border-radius: 10px;
    margin-top: 15px;
}

.top_filter__section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.single_product_section .single_product_img img {
    width: 100%;
    object-fit: contain;
}
